/* just to avoid error in console log */
.everpsblog-search input[type="search"] {
    /* Keep outer rounding only on the left side */
    border-radius: .6rem 0 0 .6rem;
    max-width: 350px;
}

/* Match search button rounding with the input */
.everpsblog-search button[type="submit"] {
    border-radius: 0 .6rem .6rem 0;
}
