/* just to avoid error in console log */
.everpsblog-search input[type="search"] {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    padding-left: 2rem;
    border-radius: 0.25rem;
}
